@page
@model InTandemRegistrationPortal.Pages.Admin.UsersModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Users</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Date Registered
                </th>
                <th>
                    Role
                </th>
                <th>
                    Email
                </th>
                <th>
                    Approved
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                string FullName = item.FirstName + " " + item.LastName;
                <tr>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => FullName)
                        </a>
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRegistered)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    @if (item.HasBeenApproved == true)
                    {
                        // display "Approved" in place of true
                        <td>Approved</td>
                    }
                    else if (item.HasBeenApproved == false)
                    {
                        // display "Denied" in place of false
                        <td>Denied</td>
                    }
                    else
                    {
                        <td>Pending</td>
                    }
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>

            
            }
        </tbody>
    </table>
</div>
